In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
import calendar
from datetime import date
from datetime import datetime

In [2]:
wego = pd.read_csv('../data/Headway_Data.csv')
wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [3]:
wego['HDWY_DEV_PCT'] = wego['HDWY_DEV'] / wego['SCHEDULED_HDWY']
wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,HDWY_DEV_PCT
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,1.983333,0,0,1,0,0.0,0,2,12.650000,0.141667
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,3.333333,0,0,1,0,0.0,0,11,0.000000,0.238095
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,0,1,0,0,NaN,0,23,22.416666,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,24,5.766666,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,25,0.000000,NaN

In [4]:
wego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 31 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
 30  HDWY_DEV_PCT               float64
dtypes: float64(10), int64(15), object(6)
memory usage: 468.7+ MB

In [5]:
wego_tidy = wego.iloc[:, np.r_[0:22, 29, 30]]
wego_tidy.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,DWELL_IN_MINS,HDWY_DEV_PCT
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,12.650000,0.141667
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0.000000,0.238095
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,22.416666,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,5.766666,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0.000000,NaN

In [8]:
layover = wego_tidy[wego_tidy.TRIP_EDGE !=2]
layover

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,DWELL_IN_MINS,HDWY_DEV_PCT
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,12.650000,0.141667
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0.000000,0.238095
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,5.766666,NaN
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN,12.333333,NaN
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981705,120221101,1,91057372,2022-11-01,50,8601,2600,329896,0,FROM DOWNTOWN,...,-86.781923,07:22:00,07:16:44,07:25:54,-3.900000,NaN,NaN,NaN,9.166666,NaN
1981707,120221101,1,91057381,2022-11-01,55,8604,2374,329899,0,TO DOWNTOWN,...,-86.740400,15:12:00,14:39:16,15:11:12,0.800000,0.0,NaN,NaN,31.933333,NaN
1981709,120221101,1,91057723,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,-86.804683,15:05:00,14:46:41,15:07:36,-2.600000,NaN,NaN,NaN,20.916666,NaN
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,-86.800851,15:20:00,14:57:12,15:07:06,12.900000,10.0,7.633333,-2.366667,9.900000,-0.236667
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,-86.760399,15:20:00,14:59:40,15:19:02,0.966666,0.0,NaN,NaN,19.366666,NaN

In [11]:
layover.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594480 entries, 0 to 1981713
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   CALENDAR_ID            1594480 non-null  int64
 1   SERVICE_ABBR           1594480 non-null  int64
 2   ADHERENCE_ID           1594480 non-null  int64
 3   DATE                   1594480 non-null  object
 4   ROUTE_ABBR             1594480 non-null  int64
 5   BLOCK_ABBR             1594480 non-null  int64
 6   OPERATOR               1594480 non-null  int64
 7   TRIP_ID                1594480 non-null  int64
 8   OVERLOAD_ID            1594480 non-null  int64
 9   ROUTE_DIRECTION_NAME   1594480 non-null  object
 10  TIME_POINT_ABBR        1594480 non-null  object
 11  ROUTE_STOP_SEQUENCE    1594459 non-null  float64
 12  TRIP_EDGE              1594480 non-null  int64
 13  LATITUDE               1594480 non-null  float64
 14  LONGITUDE              1594480 non-null  float64
 15  SCHEDULED_TIME         1594480 non-null  object
 16  ACTUAL_ARRIVAL_TIME    1550595 non-null  object
 17  ACTUAL_DEPARTURE_TIME  1550557 non-null  object
 18  ADHERENCE              1550557 non-null  float64
 19  SCHEDULED_HDWY         1549372 non-null  float64
 20  ACTUAL_HDWY            1507891 non-null  float64
 21  HDWY_DEV               1507347 non-null  float64
 22  DWELL_IN_MINS          1550531 non-null  float64
 23  HDWY_DEV_PCT           1507347 non-null  float64
dtypes: float64(9), int64(9), object(6)
memory usage: 304.1+ MB

In [10]:
layover.groupby(['ROUTE_ABBR', 'TRIP_EDGE']).agg({'DWELL_IN_MINS':['mean'], 'HDWY_DEV':['mean']})

                     DWELL_IN_MINS  HDWY_DEV
                              mean      mean
ROUTE_ABBR TRIP_EDGE
3          0              0.216281  0.401955
           1             12.126302  1.783789
7          0              0.210850  0.423648
           1             12.101802  0.458352
22         0              0.101957  0.835121
           1              9.961609  0.686182
23         0              0.865238  0.320139
           1             11.496666  0.281098
50         0              0.375450  0.343754
           1             14.135486  0.253160
52         0              0.942129  0.383679
           1             13.534154  0.564645
55         0              0.382975  0.129438
           1             12.877227  0.215000
56         0              0.903020  0.263420
           1             14.646576  0.154020

In [15]:
TIME_OF_DAY = []

for x in layover['SCHEDULED_TIME']:
    if x >= '00:00:00' and x <= '01:00:00':
        TIME_OF_DAY.append('MIDNIGHT to 1AM')
    elif x > '01:00:00' and x <= '02:00:00':
        TIME_OF_DAY.append('1 to 2AM')
    elif x > '02:00:00' and x <= '03:00:00':
        TIME_OF_DAY.append('2 to 3AM')
    elif x > '03:00:00' and x <= '04:00:00':
        TIME_OF_DAY.append('3 to 4AM')
    elif x > '04:00:00' and x <= '05:00:00':
        TIME_OF_DAY.append('4 to 5AM')
    elif x > '05:00:00' and x <= '06:00:00':
        TIME_OF_DAY.append('5 to 6AM')
    elif x > '06:00:00' and x <= '07:00:00':
        TIME_OF_DAY.append('6 to 7AM')
    elif x > '07:00:00' and x <= '08:00:00':
        TIME_OF_DAY.append('7 to 8AM')
    elif x > '08:00:00' and x <= '09:00:00':
        TIME_OF_DAY.append('8 to 9AM')
    elif x > '09:00:00' and x <= '10:00:00':
        TIME_OF_DAY.append('9 to 10AM')
    elif x > '10:00:00' and x <= '11:00:00':
        TIME_OF_DAY.append('10 to 11AM')
    elif x > '11:00:00' and x <= '12:00:00':
        TIME_OF_DAY.append('11 to NOON')
    elif x > '12:00:00' and x <= '13:00:00':
        TIME_OF_DAY.append('NOON to 1PM')
    elif x > '13:00:00' and x <= '14:00:00':
        TIME_OF_DAY.append('1 to 2PM')
    elif x > '14:00:00' and x <= '15:00:00':
        TIME_OF_DAY.append('2 to 3PM')
    elif x > '15:00:00' and x <= '16:00:00':
        TIME_OF_DAY.append('3 to 4PM')
    elif x > '16:00:00' and x <= '17:00:00':
        TIME_OF_DAY.append('4 to 5PM')
    elif x > '17:00:00' and x <= '18:00:00':
        TIME_OF_DAY.append('5 to 6PM')
    elif x > '18:00:00' and x <= '19:00:00':
        TIME_OF_DAY.append('6 to 7PM')
    elif x > '19:00:00' and x <= '20:00:00':
        TIME_OF_DAY.append('7 to 8PM')
    elif x > '20:00:00' and x <= '21:00:00':
        TIME_OF_DAY.append('8 to 9PM')
    elif x > '21:00:00' and x <= '22:00:00':
        TIME_OF_DAY.append('9 to 10PM')
    elif x > '22:00:00' and x <= '23:00:00':
        TIME_OF_DAY.append('10 to 11PM')
    elif x > '23:00:00' and x <= '24:00:00':
        TIME_OF_DAY.append('11PM to MIDNIGHT')
    else:
        TIME_OF_DAY.append('TWILIGHT ZONE')
TIME_OF_DAY

['2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '4 to 5AM',
 '4 to 5AM',
 '4 to 5AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '4 to 5AM',
 '4 to 5AM',
 '4 to 5AM',
 '4 to 5AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '4 to 5AM',
 '4 to 5AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 '11PM to MIDNIGHT',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 'TWILIGHT ZONE',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '1 to 2PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '2 to 3PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '3 to 4PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '4 to 5PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '5 to 6PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '6 to 7PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '7 to 8PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '8 to 9PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '9 to 10PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '10 to 11PM',
 '4 to 5AM',
 '4 to 5AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '5 to 6AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '6 to 7AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '7 to 8AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '8 to 9AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '9 to 10AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '10 to 11AM',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 '11 to NOON',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 'NOON to 1PM',
 '1 to 2PM',
 '1 to 2PM',
 ...]

In [18]:
TIME_OF_DAY = pd.DataFrame(TIME_OF_DAY)
TIME_OF_DAY.columns = ['TIME_OF_DAY']

In [27]:
layover1 = pd.concat([layover, TIME_OF_DAY], axis='columns')
layover1

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,DWELL_IN_MINS,HDWY_DEV_PCT,TIME_OF_DAY,TIME_OF_DAY,TIME_OF_DAY
0,120211101.0,1.0,76447164.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,14:12:00,-2.000000,14.0,15.983333,1.983333,12.650000,0.141667,2 to 3PM,2 to 3PM,2 to 3PM
1,120211101.0,1.0,76447165.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,14:23:21,-3.350000,14.0,17.333333,3.333333,0.000000,0.238095,2 to 3PM,2 to 3PM,2 to 3PM
3,120211101.0,1.0,76447167.0,2021-11-01,50.0,1704.0,2088.0,297749.0,0.0,TO DOWNTOWN,...,15:10:17,-0.283333,NaN,NaN,NaN,5.766666,NaN,4 to 5AM,4 to 5AM,4 to 5AM
5,120211101.0,1.0,76447969.0,2021-11-01,22.0,2200.0,1352.0,298143.0,0.0,TO DOWNTOWN,...,04:41:50,0.166666,NaN,NaN,NaN,12.333333,NaN,4 to 5AM,4 to 5AM,4 to 5AM
6,120211101.0,1.0,76447970.0,2021-11-01,22.0,2200.0,1352.0,298143.0,0.0,TO DOWNTOWN,...,04:46:58,-0.966666,NaN,NaN,NaN,0.000000,NaN,5 to 6AM,5 to 6AM,5 to 6AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10 to 11PM,10 to 11PM,10 to 11PM
1594461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11PM to MIDNIGHT,11PM to MIDNIGHT,11PM to MIDNIGHT
1594467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 to 5PM,4 to 5PM,4 to 5PM
1594473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7 to 8AM,7 to 8AM,7 to 8AM
1594479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3 to 4PM,3 to 4PM,3 to 4PM

In [29]:
layover.shape

(1906322, 26)

In [30]:
TIME_OF_DAY.shape

(1594480, 1)

In [33]:
layover['SCHEDULED_TIME'].isna().sum()

311842

In [38]:
layover1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1906322 entries, 0 to 1594479
Data columns (total 27 columns):
 #   Column                 Dtype
---  ------                 -----
 0   CALENDAR_ID            float64
 1   SERVICE_ABBR           float64
 2   ADHERENCE_ID           float64
 3   DATE                   object
 4   ROUTE_ABBR             float64
 5   BLOCK_ABBR             float64
 6   OPERATOR               float64
 7   TRIP_ID                float64
 8   OVERLOAD_ID            float64
 9   ROUTE_DIRECTION_NAME   object
 10  TIME_POINT_ABBR        object
 11  ROUTE_STOP_SEQUENCE    float64
 12  TRIP_EDGE              float64
 13  LATITUDE               float64
 14  LONGITUDE              float64
 15  SCHEDULED_TIME         object
 16  ACTUAL_ARRIVAL_TIME    object
 17  ACTUAL_DEPARTURE_TIME  object
 18  ADHERENCE              float64
 19  SCHEDULED_HDWY         float64
 20  ACTUAL_HDWY            float64
 21  HDWY_DEV               float64
 22  DWELL_IN_MINS          float64
 23  HDWY_DEV_PCT           float64
 24  TIME_OF_DAY            object
 25  TIME_OF_DAY            object
 26  TIME_OF_DAY            object
dtypes: float64(18), object(9)
memory usage: 407.2+ MB

In [39]:
route_and_edge = layover1.groupby(['index24']).agg({'DWELL_IN_MINS':['mean'], 'HDWY_DEV':['mean']})

KeyError: 'index24'