In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.cm import PRGn
import seaborn as sns
import calendar
from datetime import date
from datetime import datetime
plt.style.use('ggplot')

In [2]:
headway = pd.read_csv("../data/Headway_Data.csv", nrows=1981716)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
headway.head(4)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.766666

In [5]:
headway.drop(headway.columns[[-1,-2, -3, -4, -5, -6, -7, -8]], axis = 1, inplace=True)

In [6]:
headway.head(3)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN

In [7]:
headway['DATE'] =  pd.to_datetime(headway['DATE'])

In [8]:
headway['WEEKDAY'] = [calendar.day_name[x.weekday()] for x in headway['DATE']]
headway.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,WEEKDAY
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,Monday
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,Monday
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,Monday
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,Monday
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,Monday

In [9]:
DOW = headway[['WEEKDAY','SCHEDULED_HDWY', 'ACTUAL_HDWY','ADHERENCE', 'ROUTE_ABBR']]

In [10]:

(DOW.pivot_table(
        index='WEEKDAY',
    columns= 'ROUTE_ABBR',
    values='ADHERENCE',
    aggfunc= 'median').style.background_gradient(cmap='Purples', axis=1))

In [11]:
from pivottablejs import pivot_ui

# passes data to a chart pivot style
a= [ [1,'Requirements','bug'],[2,'Design','bug'],[3,'Testing','bug'],[4,'Requirements','bug'],[5,'Requirements','Inquiry'] ]

df  = pd.DataFrame(a,columns =['Issue#','OriginationPhase','Category'])

pivot_ui(df)

In [12]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

In [13]:
headway_holiday = headway[headway["DATE"].isin(['2021-11-11', '2021-11-25', '2021-12-24', '2021-12-31',
               '2022-01-17', '2022-02-21', '2022-05-30', '2022-06-20',
               '2022-07-04', '2022-09-05', '2022-10-10'])]

In [14]:
headway_holiday.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,WEEKDAY
53790,120211111,1,76887104,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,04:42:00,04:38:54,04:41:02,0.966666,NaN,NaN,NaN,Thursday
53791,120211111,1,76887105,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,04:46:00,04:47:47,04:47:47,-1.783333,NaN,NaN,NaN,Thursday
53792,120211111,1,76887106,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,04:54:00,04:54:14,04:54:14,-0.233333,NaN,NaN,NaN,Thursday
53793,120211111,1,76887107,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,05:10:00,05:03:41,05:03:41,6.316666,NaN,NaN,NaN,Thursday
53794,120211111,1,76887108,2021-11-11,22,2200,1796,298162,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,05:15:00,05:03:41,05:19:21,-4.350000,NaN,NaN,NaN,Thursday
53795,120211111,1,76887109,2021-11-11,22,2200,1796,298162,0,FROM DOWNTOWN,CV23,6.0,0,36.183480,-86.814220,05:25:00,05:27:39,05:27:39,-2.650000,NaN,NaN,NaN,Thursday
53796,120211111,1,76887110,2021-11-11,22,2200,1796,298162,0,FROM DOWNTOWN,MHSP,15.0,2,36.178360,-86.845441,05:32:00,05:35:34,05:35:34,-3.566666,NaN,NaN,NaN,Thursday
53797,120211111,1,76887111,2021-11-11,22,2200,1796,298128,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,05:42:00,05:35:34,05:41:03,0.950000,35.0,33.316666,-1.683334,Thursday
53798,120211111,1,76887112,2021-11-11,22,2200,1796,298128,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,05:46:00,05:47:44,05:47:44,-1.733333,35.0,35.850000,0.850000,Thursday
53799,120211111,1,76887113,2021-11-11,22,2200,1796,298128,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,05:54:00,05:55:48,05:55:48,-1.800000,15.0,17.416666,2.416666,Thursday

RUSH_HOUR = []

for x in hw_clean['SCHEDULED_TIME']:
    if x >= '07:00:00' and x <= '09:30:00':
        RUSH_HOUR.append('Morning Rush')
    elif x >= '16:00:00' and x <= '18:00:00':
        RUSH_HOUR.append('Evening Rush')
    else:
        RUSH_HOUR.append('No Rush')
RUSH_HOUR

In [15]:
#| works as an or operator 
summer = headway[(headway["DATE"] >= '2022-06-01') & (headway["DATE"] <= '2022-08-01')]
#headway['DATE'] > '2022-06-01') & (headway['DATE'] <= '2022-08-01')])]

In [16]:
summer['DATE']

1109085   2022-06-01
1109086   2022-06-01
1109087   2022-06-01
1109088   2022-06-01
1109089   2022-06-01
             ...
1458067   2022-08-01
1458068   2022-08-01
1458069   2022-08-01
1458070   2022-08-01
1458071   2022-08-01
Name: DATE, Length: 348987, dtype: datetime64[ns]

#create a df with start and end dates

start_date = '2022-06-01' ##define start date
end_date = '2022-08-01' ##define end date

after_start_date = headway["DATE"] >= start_date ##create sub df for all dates >= start date
before_end_date = headway["DATE"] <= end_date ##create sub df for all dates <= end date

between_two_dates = after_start_date & before_end_date ##combine sub dfs into another sub df

df2 = headway.loc[between_two_dates] ##use .loc on main df referencing all the dates within the between sub df
df2

In [17]:
summer.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,WEEKDAY
1109085,120220601,1,85713482,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,MHSP,14.0,1,36.178360,-86.845441,04:42:00,04:26:03,04:41:02,0.966666,NaN,NaN,NaN,Wednesday
1109086,120220601,1,85713483,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,04:46:00,04:45:38,04:45:38,0.366666,NaN,NaN,NaN,Wednesday
1109087,120220601,1,85713484,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,04:54:00,04:53:16,04:53:16,0.733333,NaN,NaN,NaN,Wednesday
1109088,120220601,1,85713485,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,-86.781923,05:10:00,04:59:40,04:59:40,10.333333,NaN,NaN,NaN,Wednesday
1109089,120220601,1,85713486,2022-06-01,22,2200,1280,311641,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,05:15:00,04:59:40,05:17:15,-2.250000,NaN,NaN,NaN,Wednesday
1109090,120220601,1,85713487,2022-06-01,22,2200,1280,311641,0,FROM DOWNTOWN,CV23,5.0,0,36.183480,-86.814220,05:25:00,05:24:06,05:24:06,0.900000,NaN,NaN,NaN,Wednesday
1109091,120220601,1,85713488,2022-06-01,22,2200,1280,311641,0,FROM DOWNTOWN,MHSP,14.0,2,36.178360,-86.845441,05:32:00,05:31:04,05:31:04,0.933333,NaN,NaN,NaN,Wednesday
1109092,120220601,1,85713489,2022-06-01,22,2200,1280,311607,0,TO DOWNTOWN,MHSP,14.0,1,36.178360,-86.845441,05:42:00,05:31:04,05:41:02,0.966666,35.0,32.116666,-2.883334,Wednesday
1109093,120220601,1,85713490,2022-06-01,22,2200,1280,311607,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,05:46:00,05:46:32,05:46:32,-0.533333,35.0,33.500000,-1.500000,Wednesday
1109094,120220601,1,85713491,2022-06-01,22,2200,1280,311607,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,05:54:00,05:53:48,05:53:48,0.200000,15.0,15.250000,0.250000,Wednesday

##chart to compare adherence per day

early = pd.DataFrame({'x':['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                       'y':[71324, 70162, 66838, 65762, 61969, 39433, 39666]})
late = pd.DataFrame({'x':['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                         'y':[239369, 251037, 243731, 241403, 243201, 153800, 132869]})
ontime = pd.DataFrame({'x':['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                          'y':[8118, 7960, 12465, 12087, 9848, 6157, 4516]})

early['Adherence']='Early'
late['Adherence']='Late'
ontime['Adherence']='On Time'
res=pd.concat([early, late, ontime])
sns.set_style('whitegrid')
fig, ax = plt.subplots(figsize=(8,6))
sns.barplot(x='x',y='y',data=res,hue='Adherence', palette='Paired', ax=ax)
plt.xlabel('Day of Week')
plt.ylabel('Count')
plt.ylim(0, 260000)
plt.title('Adherence by Day of Week')
plt.savefig('adh-by-dow.png')
plt.show()

##get count of on time perf per day

mon = hw_clean.loc[hw_clean['WEEKDAY']=='Monday']
tue = hw_clean.loc[hw_clean['WEEKDAY']=='Tuesday']
wed = hw_clean.loc[hw_clean['WEEKDAY']=='Wednesday']
thu = hw_clean.loc[hw_clean['WEEKDAY']=='Thursday']
fri = hw_clean.loc[hw_clean['WEEKDAY']=='Friday']
sat = hw_clean.loc[hw_clean['WEEKDAY']=='Saturday']
sun = hw_clean.loc[hw_clean['WEEKDAY']=='Sunday']

print('monday')
print(mon['ON_TIME_PERF'].value_counts())
print('')
print('tueday')
print(tue['ON_TIME_PERF'].value_counts())
print('')
print('wednesday')
print(wed['ON_TIME_PERF'].value_counts())
print('')
print('thursday')
print(thu['ON_TIME_PERF'].value_counts())
print('')
print('friday')
print(fri['ON_TIME_PERF'].value_counts())
print('')
print('saturday')
print(sat['ON_TIME_PERF'].value_counts())
print('')
print('sunday')
print(sun['ON_TIME_PERF'].value_counts())
print('')

RUSH_HOUR = []

for x in hw_clean['SCHEDULED_TIME']:
    if x >= '07:00:00' and x <= '09:30:00':
        RUSH_HOUR.append('Morning Rush')
    elif x >= '16:00:00' and x <= '18:00:00':
        RUSH_HOUR.append('Evening Rush')
    else:
        RUSH_HOUR.append('No Rush')
RUSH_HOUR

In [18]:
summer.head(1)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,WEEKDAY
1109085,120220601,1,85713482,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,MHSP,14.0,1,36.17836,-86.845441,04:42:00,04:26:03,04:41:02,0.966666,NaN,NaN,NaN,Wednesday

In [22]:
##initialize empty list to fill with results
ON_TIME_PERF = []

##loop to check adherence column to determine if early, late, or on time append

for x in summer['ADHERENCE']:
    if x > 0:
        ON_TIME_PERF.append('EARLY')
    elif x < 0:
        ON_TIME_PERF.append('LATE')
    else:
        ON_TIME_PERF.append('ON TIME')

In [24]:
len(ON_TIME_PERF)

348987

In [26]:

summer['Time']  = ON_TIME_PERF

##add to main df by concat function
#summer = pd.concat([summer, summer_ot], axis='columns')
#summer

C:\Users\cside\AppData\Local\Temp\ipykernel_11932\658406962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summer['Time']  = ON_TIME_PERF

In [27]:
summer.shape

(348987, 24)

In [29]:
summer.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,WEEKDAY,Time
1109085,120220601,1,85713482,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,MHSP,14.0,1,36.178360,-86.845441,04:42:00,04:26:03,04:41:02,0.966666,NaN,NaN,NaN,Wednesday,EARLY
1109086,120220601,1,85713483,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,04:46:00,04:45:38,04:45:38,0.366666,NaN,NaN,NaN,Wednesday,EARLY
1109087,120220601,1,85713484,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,04:54:00,04:53:16,04:53:16,0.733333,NaN,NaN,NaN,Wednesday,EARLY
1109088,120220601,1,85713485,2022-06-01,22,2200,1280,311622,0,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,-86.781923,05:10:00,04:59:40,04:59:40,10.333333,NaN,NaN,NaN,Wednesday,EARLY
1109089,120220601,1,85713486,2022-06-01,22,2200,1280,311641,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,05:15:00,04:59:40,05:17:15,-2.250000,NaN,NaN,NaN,Wednesday,LATE
1109090,120220601,1,85713487,2022-06-01,22,2200,1280,311641,0,FROM DOWNTOWN,CV23,5.0,0,36.183480,-86.814220,05:25:00,05:24:06,05:24:06,0.900000,NaN,NaN,NaN,Wednesday,EARLY
1109091,120220601,1,85713488,2022-06-01,22,2200,1280,311641,0,FROM DOWNTOWN,MHSP,14.0,2,36.178360,-86.845441,05:32:00,05:31:04,05:31:04,0.933333,NaN,NaN,NaN,Wednesday,EARLY
1109092,120220601,1,85713489,2022-06-01,22,2200,1280,311607,0,TO DOWNTOWN,MHSP,14.0,1,36.178360,-86.845441,05:42:00,05:31:04,05:41:02,0.966666,35.0,32.116666,-2.883334,Wednesday,EARLY
1109093,120220601,1,85713490,2022-06-01,22,2200,1280,311607,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,05:46:00,05:46:32,05:46:32,-0.533333,35.0,33.500000,-1.500000,Wednesday,LATE
1109094,120220601,1,85713491,2022-06-01,22,2200,1280,311607,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,05:54:00,05:53:48,05:53:48,0.200000,15.0,15.250000,0.250000,Wednesday,EARLY

In [33]:
(summer.pivot_table(
        index='WEEKDAY',
    columns= 'Time',
    values='ADHERENCE',
    aggfunc= 'mean').style.background_gradient(cmap='Purples', axis=1))

In [40]:
TIME_PERF = []

##loop to check adherence column to determine if early, late, or on time append

for x in headway_holiday['ADHERENCE']:
    if x > 0:
        TIME_PERF.append('EARLY')
    elif x < 0:
        TIME_PERF.append('LATE')
    else:
        TIME_PERF.append('ON TIME')

In [37]:
headway_holiday.shape

(48109, 23)

In [42]:
len(TIME_PERF)

48109

In [43]:
headway_holiday['Time']  = TIME_PERF

C:\Users\cside\AppData\Local\Temp\ipykernel_11932\638297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_holiday['Time']  = TIME_PERF

In [ ]:
headway_holiday.head(10)

In [45]:
(headway_holiday.pivot_table(
        index='WEEKDAY',
    columns= 'Time',
    values='ADHERENCE',
    aggfunc= 'mean').style.background_gradient(cmap='Purples', axis=1))